*{

    padding: 0;
    margin: 0;
}

.header{
    height: 10vh;
    background-color: green;
    display: flex;
    align-items: center;
}

.logo{
    width: 30vh;
}

.title{
    width: 30%;
    color: blanchedalmond;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    font-size: 7vh;
}

.functionbar{
    height: 5vh;
    display: flex;
    background-color: brown;
}

.AddTask{
    background-color: aqua;
    border: 0;
    width: 49%;
    height: 80%;
    margin: auto;
    font-size: 3vh;
}

.RemoveTask{
    background-color: red;
    border: 0;
    width: 49%;
    height: 80%;
    margin: auto;
    font-size: 3vh;
}